.moduleFeed {
  margin-bottom: 36px;
}

.moduleFeed .item {
  padding: 16px;
  margin-bottom: 2px;
  color: #1c1d1e;
  background: rgb(238, 238, 238);
  border-radius: 3px;
  min-height: 84px;
}

.moduleFeed .item a,
.moduleFeed .item a:active,
.moduleFeed .item a:visited {
  color: #345b8e;
}

.moduleFeed .item .avatar {
  position: absolute;
  top: 19px;
  left: 19px;
  z-index: 2;
}

.moduleFeed .item .avatar img {
  border-radius: 50%;
  border: 2px #fff solid;
  width: 46px;
  height: 46px;
  display: none
}

.moduleFeed .item .message {
  padding-left: 73px;
  letter-spacing: 0.2px;
  font-size: 13px;
}

.moduleFeed .item .message .retwist {
  border: 1px #ccc solid;
  padding: 8px;
  border-radius: 3px;
  background: #e6e6e6;
}

.moduleFeed .item .message .quote {
  margin-top: 8px
}

.moduleFeed .item .message .info {
  font-weight: bold;
  margin-bottom: 8px
}

.moduleFeed .item .message .info .time {
  float: right;
  font-weight: normal;
}

.moduleFeed .item .message .info a,
.moduleFeed .item .message .info a:hover,
.moduleFeed .item .message .info a:visited {
  color: #1c1d1e;
}

.moduleFeed .loadMore {
  width: 100%;
  margin: 8px 0;
  padding: 0 16px;
  background: rgba(39, 46, 57, 0.28);
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  height: 36px;
  line-height: 36px;
  text-align: center;
  box-sizing: border-box;
}

.moduleFeed .loadMore:hover {
  background-color: #272E39
}