.moduleFeed .item {
  padding: 16px;
  margin-bottom: 2px;
  color: #1c1d1e;
  background: rgb(238, 238, 238);
  border-radius: 3px;
  min-height: 84px;
}

.moduleFeed .item a,
.moduleFeed .item a:active,
.moduleFeed .item a:visited {
  color: #345b8e;
}

.moduleFeed .item a:hover {
  text-decoration: underline;
}

.moduleFeed .item .avatar {
  position: absolute;
  top: 19px;
  left: 19px;
  z-index: 2;
}

.moduleFeed .item .avatar img {
  border-radius: 50%;
  border: 2px #fff solid;
}

.moduleFeed .item .message {
  padding-left: 73px;
  letter-spacing: 0.2px;
  font-size: 13px;
}

.moduleFeed .item .message .retwist {
  border: 1px #ccc solid;
  padding: 8px;
  border-radius: 3px;
  background: #e6e6e6;
}

.moduleFeed .item .message .quote {
  margin-top: 8px
}

.moduleFeed .item .message .info {
  font-weight: bold;
  margin-bottom: 8px
}

.moduleFeed .item .message .info .time {
  float: right;
  font-weight: normal;
}

.moduleFeed .item .message .info a,
.moduleFeed .item .message .info a:hover,
.moduleFeed .item .message .info a:visited {
  color: #1c1d1e;
  text-decoration: none;
}