.moduleFollowing .item {
  padding: 16px;
  margin: 0 2px 2px 2px;
  color: #fff;
  background: rgba(238, 238, 238, 0.08);
  border-radius: 3px;
}

.moduleFollowing .item.active {
  color: #1c1d1e;
  background: rgb(238, 238, 238);
}

.moduleFollowing .item.active a,
.moduleFollowing .item.active a:visited,
.moduleFollowing .item.active a:active {
  color: #1c1d1e;
}

.moduleFollowing .item:hover .action i {
  opacity: 1
}

.moduleFollowing .item .avatar {
  position: absolute;
  top: 18px;
  left: 16px;
}

.moduleFollowing .item .avatar img {
  border-radius: 50%;
  border: 2px #fff solid;
  width: 16px;
  height: 16px;
  display: none
}

.moduleFollowing .item .action {
  position: absolute;
  top: 13px;
  right: 16px;
}

.moduleFollowing .item .action i {
  color: #96a0b4;
  cursor: pointer;
  margin-bottom: 8px;
  display: inline-block;
  opacity: 0
}

.moduleFollowing .item .action i:hover {
  color: #cc8989;
}

.moduleFollowing .item .info {
  padding-left: 40px;
  padding-right: 32px;
  letter-spacing: 0.2px;
  font-size: 13px;
}

.moduleFollowing .item .info .username {
  margin-bottom: 8px;
}

.moduleFollowing .item .info .username a {
  font-weight: bold;
}

.moduleFollowing .item .info .location {
  margin-top: 4px;
}

.moduleFollowing .item .info .bio {
  font-style: italic;
  margin-top: 4px;
  color: #c3c8ce
}

.moduleFollowing .item.active .info .bio {
  color: #515457
}

.moduleFollowing .item .info .url,
.moduleFollowing .item .info .tox,
.moduleFollowing .item .info .bitMessage {
  display: inline-block;
  margin-right: 4px;
  margin-top: 4px;
}

.moduleFollowing .item .info .tox {
  font-size: 10px
}