* {
  -moz-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  /* issue #2
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in; */
}

a,
a:visited,
a:active {
  color: #fff
}

.container {
  max-width: 1024px;
  margin: 16px auto;
  padding: 0 16px;
  overflow: hidden;
  position: relative
}

.container > .left {
  position: fixed;
  z-index: 99;
  width: 360px
}

.container > .right {
  padding-left: 380px
}

.container {
  margin-bottom: 64px
}