* {
  -moz-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  /* issue #2
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in; */
}

a,
a:visited,
a:active {
  color: #fff
}

.container {
  max-width: 1024px;
  margin: 16px auto;
  padding: 0 16px;
  overflow: hidden;
  position: relative;
  margin-bottom: 64px
}

.container > .right {
  float: right;
  z-index: 99;
  width: 360px
}

.container > .left {
  padding-right: 380px
}

.container > .left h1 {
  font-size: 20px;
  font-weight: normal;
  height: 44px;
}