* {
  -moz-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  /* issue #2
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in; */
}

a,
a:visited,
a:active {
  color: #fff
}

.container {
  max-width: 1024px;
  margin: 16px auto;
  padding: 0 16px;
  overflow: hidden;
  position: relative
}

.container > .left {
  position: fixed;
  z-index: 99;
}

.container > .right {
  padding-left: 380px
}

.container {
  margin-bottom: 64px
}

.container .post {
  margin-bottom: 14px;
  background: #272E39;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.container .post .avatar {
  position: absolute;
  top: 19px;
  left: 19px;
}

.container .post .avatar img {
  border-radius: 50%;
  border: 2px #fff solid;
}

.container .post .message {
  padding-left: 82px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.container .post .action {
  border-top: 1px #4d5666 solid;
  padding: 16px;
  overflow: hidden;
}

.container .post .message textarea {
  height: 52px;
  width: 100%;
  padding: 16px 8px;
  border-radius: 3px;
  font-family: Roboto-Regular, Sans-Serif, Verdana;
  font-size: 14px;
  background: rgb(238, 238, 238);
  color: #1c1d1e;
  outline: none;
  letter-spacing: 0.2px;
  font-size: 13px;
  border: 1px #181818 solid;
}

.container .post textarea:focus {
  height: 80px;
}

.container .post .button {
  float: right;
  padding: 6px 16px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #337ab7;
  color: #fff;
  border: 0;
  font-size: 13px;
}

.container .post .button:hover {
  background-color: #437baa
}

.container .post .content {
  background: rgb(89,99,116);
  border-radius: 3px;
  padding: 16px;
}

.container .feed .item {
  padding: 16px;
  margin-bottom: 2px;
  color: #1c1d1e;
  background: rgb(238, 238, 238);
  border-radius: 3px;
  min-height: 84px;
}

.container .feed .item .avatar {
  position: absolute;
  top: 19px;
  left: 19px;
}

.container .feed .item .avatar img {
  border-radius: 50%;
  border: 2px #fff solid;
}

.container .feed .item .message {
  padding-left: 73px;
  letter-spacing: 0.2px;
  font-size: 13px;
}

.container .feed .item .message .retwist {
  border: 1px #ccc solid;
  padding: 8px;
  border-radius: 3px;
  background: #e6e6e6;
  margin-top: 8px
}

.container .feed .item .message .quote {
  margin-top: 8px
}

.container .item .message .info {
  font-weight: bold;
}

.container .item .message .info .time {
  float: right;
  font-weight: normal;
}