* {
  -moz-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  /* issue #2
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in; */
}

a,
a:visited,
a:active {
  color: #fff
}

.container {
  max-width: 1024px;
  margin: 16px auto;
  padding: 0 16px;
  overflow: hidden;
  position: relative
}

.container > .left {
  float: left
}

.container > .right {
  padding-left: 380px
}

.container {
  margin-bottom: 64px
}

.container .menu {
  margin-bottom: 6px
}

.container .menu .item {
  display: inline-block;
  background: rgba(39, 46, 57, 0.28);
  /* background: rgba(101, 114, 134, 0.28); */
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  padding: 8px 16px;
  margin: 2px
}

.container .menu .item.active,
.container .menu .item:hover {
  background: #272E39;
}

.container .menu .item span {
  font-size: 12px;
  margin: 0 8px
}

.container .post {
  margin-bottom: 10px;
  background: #272E39;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.container .post .avatar {
  position: absolute;
  top: 19px;
  left: 19px;
}

.container .post .avatar img {
  border-radius: 50%;
  border: 2px #fff solid;
}

.container .post .message {
  padding-left: 82px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.container .post .action {
  border-top: 1px #4d5666 solid;
  padding: 16px;
  overflow: hidden;
}

.container .post .message textarea {
  height: 52px;
  width: 100%;
  padding: 16px 8px;
  border-radius: 3px;
  font-family: Roboto-Regular, Sans-Serif, Verdana;
  font-size: 14px;
  /*background: rgba(101, 114, 134, 0.28);*/
  /*background: rgba(255, 255, 255, 0.18);*/
  background: rgb(77, 86, 102);
  color: #dfe8f4;
  outline: none;
  letter-spacing: 0.2px;
  font-size: 13px;
  border: 1px #181818 solid;
}

.container .post textarea:focus {
  height: 80px;
  background: rgb(87, 98, 117);
  /*background: rgb(103, 112, 126);*/
}

.container .post button {
  float: right;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #337ab7;
  color: #fff;
  border: 0
}

.container .post button:hover {
  background-color: #437baa
}

.container .post .content {
  background: rgb(89,99,116);
  border-radius: 3px;
  padding: 16px;
}

.container .content .item {
  padding: 16px;
  margin-bottom: 8px;
  /*background: rgba(101, 114, 134, 0.28);*/
  /*background: rgba(255, 254, 254, 0.04);*/
  /*background: rgba(255, 255, 255, 0.18);*/
  background: rgb(39, 46, 57);
  border-radius: 3px;
  color: #a5b2bd;
  min-height: 84px;
}

.container .content .item .avatar {
  position: absolute;
  top: 19px;
  left: 19px;
}

.container .content .item .avatar img {
  border-radius: 50%;
  border: 2px #fff solid;
}

.container .content .item .message {
  padding-left: 73px;
  letter-spacing: 0.2px;
  font-size: 13px;
  padding-right: 8px;
}